(
A,
Aacute,
Abreve,
Acircumflex,
Adblgrave,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Edblgrave,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
G,
Gbreve,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
I,
IJ,
Iacute,
Icircumflex,
Idblgrave,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
O,
Oacute,
Ocircumflex,
Odblgrave,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
Germandbls,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ucircumflex,
Udblgrave,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Saltillo,
a,
aacute,
abreve,
acircumflex,
adblgrave,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ecaron,
ecircumflex,
edblgrave,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
i,
idotless,
iacute,
icircumflex,
idblgrave,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
itilde,
ij,
j,
jdotless,
jacute,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
o,
oacute,
ocircumflex,
odblgrave,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scommaaccent,
germandbls,
t,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ucircumflex,
udblgrave,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
saltillo,
idotless.alt,
jdotless.alt,
ordfeminine,
ordmasculine,
ordfeminine.alt,
ordmasculine.alt,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.alt,
one.alt,
two.alt,
three.alt,
four.alt,
five.alt,
six.alt,
seven.alt,
eight.alt,
nine.alt,
fraction,
onehalf,
onequarter,
threequarters,
fraction.alt,
onehalf.alt,
onequarter.alt,
threequarters.alt,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
zerosuperior.alt,
onesuperior.alt,
twosuperior.alt,
threesuperior.alt,
space,
nbspace,
.notdef,
space.alt,
nbspace.alt,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
period.alt,
comma.alt,
colon.alt,
semicolon.alt,
ellipsis.alt,
exclam.alt,
exclamdown.alt,
question.alt,
questiondown.alt,
periodcentered.alt,
bullet.alt,
asterisk.alt,
numbersign.alt,
slash.alt,
backslash.alt,
hyphen,
endash,
emdash,
underscore,
hyphen.alt,
endash.alt,
emdash.alt,
underscore.alt,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.alt,
parenright.alt,
braceleft.alt,
braceright.alt,
bracketleft.alt,
bracketright.alt,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
quotesinglbase.alt,
quotedblbase.alt,
quotedblleft.alt,
quotedblright.alt,
quoteleft.alt,
quoteright.alt,
guillemetleft.alt,
guillemetright.alt,
guilsinglleft.alt,
guilsinglright.alt,
quotedbl.alt,
quotesingle.alt,
florin,
florin.alt,
at,
ampersand,
paragraph,
section,
copyright,
registered,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
at.alt,
ampersand.alt,
paragraph.alt,
section.alt,
copyright.alt,
registered.alt,
degree.alt,
bar.alt,
brokenbar.alt,
dagger.alt,
daggerdbl.alt,
cent,
currency,
dollar,
euro,
sterling,
yen,
cent.alt,
currency.alt,
dollar.alt,
euro.alt,
sterling.alt,
yen.alt,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
micro,
percent,
perthousand,
plus.alt,
minus.alt,
multiply.alt,
divide.alt,
equal.alt,
notequal.alt,
greater.alt,
less.alt,
greaterequal.alt,
lessequal.alt,
plusminus.alt,
approxequal.alt,
asciitilde.alt,
logicalnot.alt,
asciicircum.alt,
micro.alt,
percent.alt,
perthousand.alt,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
commaturnedmod,
commaturnedmod.alt,
Waccento,
Yaccento,
waccento,
yaccento,
notdef.alt,
Acomb,
Ccomb,
Ecomb,
"G-comb",
"I-comb",
"J-comb",
"O-comb",
"U-comb",
pixel,
Acomb.alt,
Ccomb.alt,
Ecomb.alt,
"G-comb.alt",
"I-comb.alt",
"J-comb.alt",
"O-comb.alt",
"U-comb.alt"
)