{
displayStrings = (
"massss
Asssndibola
Poveraccio
contributo
Ente
manderà
Scappando
victoria
Stare
strade
Polmonite
mandate
Mirino
fabbro
Sensuale
direttamente
Impertinente
brutte
Puntando
straccio
Ricorderete
baffi
Mischiare
vaniglia
Corridoi
fetta",
".!",
".…/period.alt/ellipsis.alt",
"…/ellipsis.alt …oCn eH
/ellipsis.alt …n",
"/space.alt A/ellipsis.alt …"
);
}
